.login-label {
	margin-top: 2em;
	font-size: 2em;
	color: #8fa7ff;
}

.login-input-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3em;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3em;
	width: 100%;
	margin-top: 12em;
}
