.main-label {
	margin-top: 2em;
	font-size: 2em;
	color: #8fa7ff;
}

.main-button-container {
	display: flex;
	flex-direction: row;
	gap: 4em;
	justify-content: center;
	align-items: center;
}

.main-button-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3em; /* 위 두 버튼과 아래 버튼 사이 간격 */
	margin-top: 12em;
}
