.failure-container {
	position: relative;
	top: 40px;
	width: 400px;
	height: 600px;
	margin: 0 auto;
	background: #fff;
	border: 2px solid #2e5bff;
	border-radius: 20px;
	box-sizing: border-box;
	font-family: 'Noto Sans KR', sans-serif;
}

.failure-image {
	position: absolute;
	width: 230px;
	height: 230px;
	left: 83px;
	top: 140px;
	margin-bottom: 20px;
}
