.success-image {
	width: 40em;
	height: 40em;
	margin-bottom: 1em;
}

.success-label {
	font-size: 2.5em;
	color: rgb(99, 99, 99);
}

.success-content {
	display: flex;
	flex-direction: column;
	gap: 5em;
	justify-content: center;
	align-items: center;
}
