.message {
	position: relative;
	top: 370px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 14px;
	padding: 8px 12px;
	border-radius: 6px;
	text-align: center;
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
}

.message.result {
	width: 200px;
	top: 390px;
	line-height: 17px;
	color: rgb(99, 99, 99);
}

.message.success {
	color: green;
	background-color: #e6ffe6;
}

.message.error {
	color: red;
	background-color: #ffe6e6;
}

.message.info {
	color: black;
	background-color: #f5f5f5;
}
