.message {
	position: absolute;
	font-size: 1.5em;
	padding: 0.8em 1em;
	border-radius: 1em;
	text-align: center;
	font-weight: 500;
}

.message.result {
	top: 59vh;
	font-size: 2em;
	color: rgb(99, 99, 99);
}

.message.error {
	top: 30vh;
	color: red;
	background-color: #ffe6e6;
}

.message.info {
	top: 30vh;
	color: black;
	background-color: #e5e5e5;
}
